

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  color:#34495e;
}

body {
  margin: 0;
}


.kn-sidebar {
	background: #0092bf; /*#2e2b2c; */
	position:absolute;
	top:0; left:-400px;
	width:400px;
	height:100%;
/*		-webkit-transition: -webkit-transform .4s,-webkit-filter 1.2s,opacity 1.2s;
transition: transform .4s,filter 1.2s,opacity 1.2s;*/
}


.kn-main {
	padding:20px;
	background: white;
	position:absolute;
	top:0; left:0;
	height:100%;
	width:100%;
	min-height: 400px;
/*	-webkit-transition: -webkit-transform .4s,-webkit-filter 1.2s,opacity 1.2s;
transition: transform .4s,filter 1.2s,opacity 1.2s;*/
}

/* replace with a container */
/*
.slide .kn-main {
	opacity: .7;
		-webkit-filter: brightness(75%) saturate(0%);
	filter: brightness(65%) saturate(15%);
}
.slide .kn-main, .slide .kn-sidebar{
	-webkit-transform: translateX(400px);
	transform: translateX(400px);
}*/


.kn-footer {
	color:#bdc3c7;
	text-align: center;
	position:absolute;
	height:42px;
	bottom:0;
	left:0;
	width:100%;
}

.kn-icon {
	font-size: 1.3em;
	padding:0 20px;
/*  font-size: 1.3em;
	line-height: 42px;*/
}

.kn-icon:hover {
	cursor:pointer;
	color:#bdc3c7;
}